.iframes{
    position: relative;
    z-index: 0
}


/* CSS FOR ENLARGED IMAGE: */
.iframes{
    position: absolute;
    background-color: #eeeeee;
    padding: 2px;
    left: -1000px;
    border: 1px solid blue;
    visibility: hidden;
    color: black;
    text-decoration: none;
    transition-delay: 0s 1s
}

/* CSS FOR ENLARGED IMAGE ON HOVER: */
.iframes:hover{
    visibility: visible;
    top: 0px;       /* ENLARGED IMAGE: VERTICAL OFFSET [+ : above baseline | - : above baseline]   */
    left: 0px;      /* ENLARGED IMAGE: HORIZONTAL OFFSET [+ : right | - : lest] */
    transition-delay: 1s;
    background-color: #eeeeee;
    opacity: 1
}